﻿<div class="d-flex gap-1">
    <a href="/?press=+" class="link-primary">Sum</a>
    <a href="/?press=-" class="link-primary">Sub</a>
    <a href="/?press=*" class="link-primary">Mul</a>
    <a href="/?press=/" class="link-primary">Div</a>
</div>