<form action="/add" method="post">
    <input type="text" name="name" placeholder="ФИО">
    <input type="text" name="phone" placeholder="Телефон">
    <button type="submit">Добавить</button>
    <a href="/">Отказаться</a>
</form>
