{{#each directory}}
    <a href="/update/{{@index}}">
        <div class="entry">
            <span>{{this.name}}</span>
            <span>{{this.phone}}</span>
        </div>
    </a>
{{/each}}

<a href="/add">Добавить</a>
